---
import BarraLateral from '../components/BarraLateral.astro';
import Navbar from '../components/Navbar.astro';
import Cont from '../components/Cont.astro';
---

<!DOCTYPE html>
<html lang="es">
<head class="min-h-screen w-full bg-slate-900">
    <Navbar />
</head>
<body class="min-h-screen w-full bg-slate-900">
	<div class="container bg-slate-900 mx-auto">
		<div class="bg-slate-900 grid grid-cols-3 gap-4">
		  <div class="bg-green-500 h-screen">Barra Lateral Izquierda</div>
		  <div class="bg-pink-500 h-screen">
			<Cont />
		  </div>
		  <div class="bg-slate-900 h-screen"><BarraLateral /></div>
		</div>
	  </div>


											  </body>
											  </html>