---
const movies = [
  { title: "Minecraft", rating: 4.5, cover: "https://popcornsg.s3.amazonaws.com/movies/650/3240-72221-AMinecrajpg" },
  { title: "Super man", rating: 3.8, cover: "https://m.media-amazon.com/images/M/MV5BZjFhZmU5NzUtZTg4Zi00ZjRjLWI0YmQtODk2MzI4YjNhYTdkXkEyXkFqcGc@._V1_.jpg" },
  { title: "Solo leveling", rating: 4.0, cover: "https://m.media-amazon.com/images/M/MV5BYTIwYzk3YmQtZmMwNS00ZDAwLTk5Y2MtOTEwODFlZmExMzliXkEyXkFqcGc@._V1_.jpg" },
  { title: "Tron: Ares", rating: 5.0, cover: "https://posterspy.com/wp-content/uploads/2024/02/Second-Teaser-Poster-TRON-ARES.jpg" },
  { title: "Dogman", rating: 4.2, cover: "https://dx35vtwkllhj9.cloudfront.net/universalstudios/dog-man/images/regions/ca/onesheet.jpg" },
];
---

<div class="py-8 ps-6 trxt-white">
  <h2 class="text-2xl text-white font-bold mb-6">Estrenos</h2>
  <div class="overflow-x-auto">
    <div class="flex space-x-4">
      {movies.map(movie => (
        <div class="relative w-40">
          <img src={movie.cover} alt={movie.title} class="w-full h-auto rounded-lg shadow-md" />
          <div class="absolute top-2 left-2 flex items-center bg-yellow-500 text-white text-xs font-semibold rounded px-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="currentColor" viewBox="0 0 20 20"><path d="M10 15l-5.878 3.09L5.236 12H0l7.618-1.18L10 0l2.382 10.82L20 12h-5.236l1.114 5.09L10 15z"/></svg>
            {movie.rating} / 5
          </div>
          <h3 class="mt-2 text-center text-white text-lg font-semibold">{movie.title}</h3>
        </div>
      ))}
    </div>
  </div>
</div>
